.containter-card{
  display: flex;
  justify-content: center;
}
.card-test{
  background-color: #fff;
  border-radius: .2rem;
  box-shadow: rgb(150,150,150) 0px 1px 3px;
  width: 350px;
  padding: .8rem;
  color: #245661;
}