.base-search {
  @include text-body-m--regular;
  position: relative;
  width: 300px;

  input[type='text'] {
    width: 100%;
    padding: var(--spacing-40, 0);
    border: 1px solid var(--color-primary-10, #000);
    border-radius: var(--radius-200, 0);
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: var(--color-neutral-10, #000);
    border: 1px solid var(--color-primary-10, #000) #ccc;
    border-radius: var(--radius-200, 0);
    box-shadow: var(--shadow-200);
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;

    > li {
      padding: var(--spacing-40, 0);
      border: 1px solid var(--color-primary-10, #000);
      color: var(--color-neutral-70, #000);
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: var(--color-neutral-20, #000);
      }
    }
  }

  &__user-message {
    @include text-body-xs--regular;
    color: var(--color-error-30, #000); 
  }
}
